@{
    ViewData["Title"] = "Anasayfa";
            Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p>Konfigürasyon kayıtları ile ilgili işlemleri gerçekleştirmek için sol taraftaki menüyü kullanabilirsiniz.</p>
</div>
